@using MudBlazor.Utilities

@inherits GslComponentBase

<div class="@CssClass" style="@Style" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code
{
    private string CssClass => new CssBuilder("tw|container tw|mx-auto")
        .AddClass(Class)
        .AddClass("tw|max-w-screen-sm", MaxWidth is GslMaxWidth.Small)
        .AddClass("tw|max-w-screen-md", MaxWidth is GslMaxWidth.Medium)
        .AddClass("tw|max-w-screen-lg", MaxWidth is GslMaxWidth.Large)
        .AddClass("tw|max-w-screen-xl", MaxWidth is GslMaxWidth.ExtraLarge)
        .AddClass("tw|max-w-screen-2xl", MaxWidth is GslMaxWidth.ExtraExtraLarge)
        .ToString();

    [Parameter] [EditorRequired] public required RenderFragment ChildContent { get; set; }
    [Parameter] public GslMaxWidth MaxWidth { get; set; } = GslMaxWidth.ExtraLarge;
}