@inherits GslComponentBase

<MudStack Row="Row" Spacing="0" Class="@Class" Style="@Style" @attributes="AdditionalAttributes">
    <span class="tw|text-base tw|font-bold">@Title.ToUpper()</span>
    <span>
        @ChildContent
    </span>
</MudStack>

@code 
{
    [Parameter, EditorRequired] public required string Title { get; set; }
    [Parameter] public bool Row { get; set; }
    [Parameter] public required RenderFragment ChildContent { get; set; }
}